[submodule "lib/kokkos"]
	path = lib/kokkos
	url = https://github.com/kokkos/kokkos.git
[submodule "lib/pdi"]
	path = lib/pdi
	url = https://gitlab.maisondelasimulation.fr/pdidev/pdi.git
[submodule "lib/dms"]
	path = lib/dms
	url = https://github.com/Maison-de-la-Simulation/dms.git
[submodule "lib/deisa"]
	path = lib/deisa
	url = https://github.com/pdidev/deisa.git
